.imgicon{
    width: 8%;
    height: 8%;
}

.nav-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.link-a a{
    padding: 0px 20px;
    text-decoration: none;
    color: #0000CD;
    font-weight: bold;
}

.nav-fl{
    background-color: #E0FFFF;
}