.mainrow{
    height: 100vh;
    .emailinput{
        width: 100%;
    }
}

.bttnlogin{
outline: none;
}

.img-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1{
    width: 80%;
    height: 65%;
}