<div class="container mt-5">
<mat-toolbar color="primary">
  <span>Product form</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditProductForm()" class="px-5">
     + ADD
  </button>
</mat-toolbar>



<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- productName Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
      <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
    </ng-container>

    <!-- productCategory Column -->
    <ng-container matColumnDef="productCategory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Category </th>
      <td mat-cell *matCellDef="let row"> {{row.productCategory}} </td>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let row"> {{row.price | currency:'EUR'}} </td>
    </ng-container>

      <!-- productDate Column -->
      <ng-container matColumnDef="productDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Date </th>
        <td mat-cell *matCellDef="let row"> {{row.productDate | date:'dd.MM.YYYY'}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-icon-button color="primary" (click)="open_editForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="deleteProduct(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>


</div>
</div>